* {
	box-sizing: border-box;
	font-family: 'Libre Franklin', sans-serif;
	color: #FEFFE4;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.horizontal-center {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

h1, h2, h3 {
	font-family: 'Cardo', serif;
	margin: 0;
}

body {
	margin: 0;
	height: 100%;
	background-color: grey;
}

.form-wrapper {
	padding-top: 0px;
	padding-bottom: 40px;
	position: relative;
	width: 180px;
}

button, .submit-button {
	color: black;
}

.sidebar-header {
	width: 100%;
	background: #323232;
	min-height: 180px;
	padding: 12px;
}

.sidebar-header h2 {
	position: relative;
	font-size: 3em;
	padding: 40px
}

.landing-page-section h1, .dashboard-header h2, 
.program-calendar-header h2,
.edit-exercise-header h2, .sidebar-header h2 {
	font-size: 3em;
}

.dashboard-header h2, .program-calendar-header h2, 
.edit-exercise-header h2, .workout-header h2, 
.sidebar-header h2 {
	position: relative;
	font-size: 3em;
	padding: 50px;
	margin: 0px;
}


.edit-exercise-form button, .edit-exercise-form .submit-button {
	width: 120px;
}  


input, textarea {
	color: black;
}