.close-sidebar-widget, #close-sidebar-widget {
	position: fixed;
	display: block;
	width: 50px;
	height: 50px;
	background: #CCCCCC;
	z-index: 10;
	cursor: pointer;
	font-size: 2.7em;
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
}