.description {
	min-height: 400px;
	background: #636363;
	height: 230px;
}

.description p {
	font-size: 1.3em;
	max-width: 600px;
	margin: 0 auto;
	text-align: justify;
	padding: 50px 30px 50px 30px;
}

.login-signup h2 {
	position: relative;
	padding-bottom: 20px;
}