
nav {
	position: fixed;
	background-color: #A2A2A2;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 80px;
	top: 0;
	z-index: 10;
}

nav .burger-icon {
	position: fixed;
	width: 40px;
	height: 40px;
	border: solid grey 2px;
	top: 20px;
	left: 30px;
	cursor: pointer;
	color: white;
	font-size: 0.7em;
}

nav h3 {
	margin: 0;
	padding: 0;
	line-height: 0;
	color: #FEFFE4;
	text-shadow: 1.5px 1.5px black;
	font-size: 2em;
	position: relative;
	left: 90px;
	top: 39px;
}