
.day-text {
	color: black;
	display: block;
}

.day-num {
	color: black;
}

.edit-program-sidebar ul li .li-text {
	position: relative;
	top: 50%;

}

.day-img {
	max-width: 90px;
	max-height: 70px;
}