.week-heading {
	position: relative;
	margin-bottom: -35px;
}

/* Because .week isn't specific enough */
.program-calendar ul {
	display: flex;
	justify-content: center; 
	align-items: center; 
  flex-wrap: wrap;
	padding-top: 20px;
	padding-left: 0;
	list-style-type: none;
}
